<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>刘雨秋- 博客</title>
<embed src="http://music.163.com/song/media/outer/url?id=4940920.mp3" hidden="true" autostart="true" loop="true">
<style>body{background-image: url("https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3062821526,2590110708&fm=26&gp=0.jpg");background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover}
</style>
</head>
<body>
	<h1>welcome to {{ user.name }} blog</h1>
	<a href="http://w3school.com.cn/" target="_blank">Visit W3School</a>
	<div align="center">
	<iframe align="middle" height=498 width=510 src='http://player.youku.com/embed/XMjkyMTcyMDU3Ng==' frameborder=0 'allowfullscreen'></iframe>
	</div>
<body>
</html>
